# replicas: Defines number of controller replicas
# Allowed values: int
# Default value: 1
replicas: 1

# image: Defines controller image. This shouldn't be changed
# Allowed values: string
image: quay.io/dell/container-storage-modules/dell-replication-controller:v1.14.0

# logLevel: Defines initial log level for controller. This can be changed in runtime
# Allowed values: "debug", "info", "warn", "error", "panic"
# Default value: "info"
logLevel: "info"

# leaderElection: Enable leader election for dell-replication-controller manager.
# Enabling this will ensure there is only one active dell-replication-controller manager.
# Allowed values: "true", "false"
# Default value: "true"
leaderElection: "true"

# retryIntervalMin: Initial retry interval of failed reconcile request.
# It doubles with each failure, upto retry-interval-max
# Allowed values: time
retryIntervalMin: 1s

# retryIntervalMax: Maximum retry interval of failed reconcile request
# Allowed values: time
retryIntervalMax: 5m

# disablePVCRemap: Disable PVC remapping for replication in single cluster configuration
# Allowed values: "true", "false"
# Default value: "false"
disablePVCRemap: "false"

# allowPvcCreationOnTarget: It Creates PVC on target cluster using replicated PV.
# Allowed values:
#   true: It creates a PVC on target cluster against replicated PV
#   false: simply updates claimref on replicated PV on target cluster without actually creating a PVC
# Default value: false
allowPvcCreationOnTarget: "false"

# HostAliases: Optional features that allows <hostname:IP> entries injection into pod's /etc/hosts file
# hostAliases:
#  - ip: "10.10.10.10"
#    hostnames:
#      - "foo.bar"
#  - ip: "10.10.10.11"
#    hostnames:
#      - "foo.baz"
