# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Sean Gallacher (gallacher)
# Trevor Dawe (tdawe)
# Alexander Hoppe (hoppea2)
# Alik Saring (alikdell)
# Aaron Tye (atye)
# Chaganti Rajitha (chaganti-rajitha)
# Chiman Jain (chimanjain)
# Florian Coulombel (coulof)
# Harish H  (HarishH-DELL)
# Meghana G M (meggm)
# Niranjan N (niranjan-n1)
# Shayna Finocchiaro (shaynafinocchiaro)
# Sharmila Ramamoorthy (sharmilarama)
# Sushma T S(tssushma)
# Tao He (taohe1012)
# Peter Cao (P-Cao)
# Yamunadevi Shanmugam(shanmydell)
# Yiming Bao (baoy1)
# Yian Zong  (YianZong)
# Forrest Xia (forrestxia)
# Nitesh Rewatkar (nitesh3108)
# Rajendra Indukuri (rajendraindukuri)
# Shefali Malhotra (shefali-malhotra)
# Spandita Panigrahi (panigs7)

# for all files:
* @gallacher @tdawe @alikdell @atye @hoppea2 @chaganti-rajitha @coulof @meggm @niranjan-n1 @shaynafinocchiaro @sharmilarama @tssushma @taohe1012 @P-Cao @shanmydell @baoy1 @YianZong @forrestxia @nitesh3108 @rajendraindukuri @shefali-malhotra @panigs7 @chimanjain @HarishH-DELL
