# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Alik Saring (alikdell)
# Chaganti Rajitha (chaganti-rajitha)
# Chiman Jain (chimanjain)
# Harish H (HarishH-DELL)
# Meghana G M (meggm)
# Niranjan N (niranjan-n1)
# Nitesh Rewatkar (nitesh3108)
# Rajendra Indukuri (rajendraindukuri)
# Sharmila Ramamoorthy (sharmilarama)
# Shayna Finocchiaro (shaynafinocchiaro)
# Shefali Malhotra (shefali-malhotra)
# Spandita Panigrahi (panigs7)
# Sushma T S (tssushma)
# Trevor Dawe (tdawe)
# Yamunadevi Shanmugam (shanmydell)

# for all files:
* @atye @alikdell @chaganti-rajitha @chimanjain @HarishH-DELL @meggm @niranjan-n1 @nitesh3108 @rajendraindukuri @sharmilarama @shaynafinocchiaro @shefali-malhotra @panigs7 @tssushma @tdawe @shanmydell @JacobGros @alexemc
