# set to true if installing on an OpenShift Container Platform
# if enabled, the OpenShift Ingress Operator will be used
# if you have your own ingress controller, keep this false and set the appropriate annotations for the ingresses in the authorization section
openshift: false

# set to true if installing on a Kubernetes Container Platform
# if enabled, NGINX Ingress Controller will be deployed
# if you have your own ingress controller, keep this false and set the appropriate annotations for the ingresses in the authorization section
nginx:
  enabled: true

# if enabled, cert-manager will be deployed
# if cert-manager is already deployed, keep this false
cert-manager:
  enabled: true

authorization:
  # images to use in installation
  images:
    proxyService: 10.247.98.98:5000/proxy-server:bharath-proxy-server
    tenantService: dellemc/csm-authorization-tenant:v1.10.0
    roleService: dellemc/csm-authorization-role:v1.10.0
    storageService: dellemc/csm-authorization-storage:v1.10.0
    opa: openpolicyagent/opa
    opaKubeMgmt: openpolicyagent/kube-mgmt:0.11

  # proxy-server ingress will use this hostname
  # NOTE: additional hostnames can be configured in authorization.proxyServerIngress.hosts
  # NOTE: proxy-server ingress is configured to accept IP address connections so hostnames are not required
  hostname: csm-authorization.com

  # log level for csm-authorization
  logLevel: debug

  # number, as a string, of concurrent requests for the storage-service to make to PowerFlex
  # currently only used with dellctl to list tenant volumes
  concurrentPowerFlexRequests: "10"

  # tracing configuration
  # this can be updated on the fly via the csm-config-params configMap
  zipkin: {}
    # collectoruri: http://DNS-hostname:9411/api/v2/spans
    # probability: 1

  # proxy-server ingress configuration
  proxyServerIngress:
    ingressClassName: nginx

    # additional host rules for the proxy-server ingress
    hosts: []
      # - application-ingress-nginx-controller.namespace.svc.cluster.local

    # additional annotations for the proxy-server ingress
    annotations: {}
  
  # storage capacity poll interval
  storageCapacityPollInterval: 5m

redis:
  name: redis-csm
  sentinel: sentinel
  rediscommander: rediscommander
  replicas: 5
  images:
    redis: redis
    commander: rediscommander/redis-commander:latest
    
  # by default, csm-authorization will deploy a local (https://kubernetes.io/docs/concepts/storage/storage-classes/#local) volume for redis
  # to use a different storage class for redis, uncomment the following line and specify the name of the storage class
  # NOTE: the storage class must NOT be a storage class provisioned by a CSI driver to be configured with this instance of CSM Authorization
  #storageClass:

vault:
  enabled: true
  address: https://10.247.63.110:8400
  kvEnginePath: secret
  skipCertificateValidation: true
