# if enabled, nginx ingress controller will be deployed
# if you have your own ingress controller, keep this false and set the appropriate annotations for the ingresses in the authorization section
ingress-nginx:
  enabled: true

# if enabled, cert-manager will be deployed
# if cert-manager is already deployed, keep this false
cert-manager:
  enabled: true

authorization:
  # images to use in installation
  images:
    proxyService: dellemc/csm-authorization-proxy:aaron
    tenantService: dellemc/csm-authorization-tenant:v1.9.0
    roleService: dellemc/csm-authorization-role:v1.9.0
    storageService: dellemc/csm-authorization-storage:aaron
    opa: openpolicyagent/opa
    opaKubeMgmt: openpolicyagent/kube-mgmt:0.11

  # base hostname for the ingress rules that expose the services
  # the proxy-server ingress will use this hostname
  # the role-service ingress will use role.hostname
  hostname: csm-authorization.com

  # log level for csm-authorization
  logLevel: debug

  # number, as a string, of concurrent requests for the storage-service to make to PowerFlex
  # currently only used with dellctl to list tenant volumes
  concurrentPowerFlexRequests: "10"

  # tracing configuration
  # this can be updated on the fly via the csm-config-params configMap
  zipkin: {}
    # collectoruri: http://DNS-hostname:9411/api/v2/spans
    # probability: 1

  # proxy-server ingress configuration
  proxyServerIngress:
    ingressClassName: nginx

    # additional host rules for the proxy-server ingress
    hosts:
      - authorization-ingress-nginx-controller.authorization.svc.cluster.local

    # additional annotations for the proxy-server ingress
    annotations: {}

redis:
  images:
    redis: redis:6.0.8-alpine
    commander: rediscommander/redis-commander:latest

  # set the storageClass for redis to use. otherwise, the default storage class is used
  storageClass: local-storage

vault:
  enabled: true
  global:
    externalVaultAddr: http://10.0.0.1:8200
