apiVersion: v2
appVersion: "2.9.0"
name: csi-powermax
version: 2.9.0
description: |
  PowerMax CSI (Container Storage Interface) driver Kubernetes
  integration. This chart includes everything required to provision via CSI as
  well as a PowerMax StorageClass.
type: application
kubeVersion: ">= 1.23.0 < 1.29.0"
# If you are using a complex K8s version like "v1.23.3-mirantis-1", use this kubeVersion check instead
# WARNING: this version of the check will allow the use of alpha and beta versions, which is NOT SUPPORTED
# kubeVersion: ">= 1.23.0-0 < 1.29.0-0"
keywords:
- csi
- storage
dependencies:
  - name: csireverseproxy
    version: 2.8.0
    condition: required
home: https://github.com/dell/csi-powermax
icon: https://avatars1.githubusercontent.com/u/20958494?s=200&v=4
sources:
- https://github.com/dell/csi-powermax
maintainers:
- name: DellEMC
