apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      name: {{ .Release.Name }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: objectstorage-provisioner
          securityContext:
            readOnlyRootFilesystem: true
          image: {{ .Values.images.provisioner.image }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          args:
            - "--log-level={{ .Values.logLevel }}"
            - "--log-format={{ .Values.logFormat }}"
            - "--otel-endpoint={{ .Values.otelEndpoint }}"
          volumeMounts:
          - name: cosi-config
            mountPath: /cosi
          - name: cosi-socket-dir
            mountPath: /var/lib/cosi
        - name: objectstorage-provisioner-sidecar
          image: {{ .Values.images.sidecar.image }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          args:
            - "-v={{ .Values.logLevel }}"
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
          - name: cosi-socket-dir
            mountPath: /var/lib/cosi
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "name"
                    operator: In
                    values:
                      - {{ .Release.Name }}
              topologyKey: "kubernetes.io/hostname"
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: cosi-config
        secret:
          secretName: {{ .Release.Name }}-config
      - name: cosi-socket-dir
        emptyDir: {}
