kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }} 
rules:
- apiGroups:
    - objectstorage.k8s.io # COSI resources are grouped here
  resources: # we do not add bucketclasses here, as those are managed by COSI Controller
    - buckets
    - bucketclaims
    - bucketaccesses
    - bucketaccessclasses
    - buckets/status
    - bucketaccesses/status
    - bucketclaims/status
    - bucketaccessclasses/status
  verbs: # CRUD + list/watch
    - create
    - get
    - update
    - delete
    - list
    - watch
- apiGroups:
    - coordination.k8s.io
  resources:
    - leases # lease is created during leader election process by COSI Provisioner Sidecar
  verbs: # CRUD + list/watch
    - create
    - get
    - update
    - delete
    - list
    - watch
- apiGroups:
    - "" # empty for default API group
  resources:
    - events # events are emmited from COSI Provisioner Sidecar
    - secrets # secrets are created by COSI Provisioner Sidecar as a part of access granting
  verbs: # CRUD
    - create
    - get
    - update
    - delete