karaviTopology:
  image: dellemc/csm-topology:v1.0.0
  enabled: true
  # comma separated list of provisioner names (ex: csi-vxflexos.dellemc.com)
  provisionerNames: csi-vxflexos.dellemc.com,csi-powerstore.dellemc.com
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  zipkin:
    uri: ""
    serviceName: karavi-topology
    probability: 0.0

karaviMetricsPowerflex:
  image: dellemc/csm-metrics-powerflex:v1.0.0
  enabled: true
  collectorAddr: otel-collector:55680
  # comma separated list of provisioner names (ex: csi-vxflexos.dellemc.com)
  provisionerNames: csi-vxflexos.dellemc.com
  # set sdcMetricsEnabled to "false" to disable collection of SDC metrics
  sdcMetricsEnabled: "true"
  # set polling frequency to the PowerFlex array to get metrics data
  sdcPollFrequencySeconds: 10
  volumePollFrequencySeconds: 10
  # set volumeMetricsEnabled to "false" to disable collection of Volume metrics
  volumeMetricsEnabled: "true"
  # set storageClassPoolMetricsEnabled to "false" to disable collection of storage class/pool metrics
  storageClassPoolMetricsEnabled: "true"
  # set the polling frequency to configure the interval which storage class/pool metrics are gathered
  storageClassPoolPollFrequencySeconds: 10
  # set the the default max concurrent queries to PowerFlex
  concurrentPowerflexQueries: 10
  # set the default endpoint for PowerFlex service
  endpoint: karavi-metrics-powerflex
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  authorization:
    enabled: false
    # sidecarProxyImage: the container image used for the csm-authorization-sidecar.
    # Default value: dellemc/csm-authorization-sidecar:v1.0.0
    sidecarProxyImage: dellemc/csm-authorization-sidecar:v1.0.0
    # proxyHost: hostname of the csm-authorization server
    # Default value: None
    proxyHost:
    # skipCertificateValidation: certificate validation of the csm-authorization server
    # Allowed Values:
    #   "true" - TLS certificate verification will be skipped
    #   "false" - TLS certificate will be verified
    # Default value: "true"
    skipCertificateValidation: true

karaviMetricsPowerstore:
  image: dellemc/csm-metrics-powerstore:v1.0.0
  enabled: true
  collectorAddr: otel-collector:55680
  # comma separated list of provisioner names (ex: csi-powerstore.dellemc.com)
  provisionerNames: csi-powerstore.dellemc.com
  # set polling frequency to the PowerStore array to get metrics data
  volumePollFrequencySeconds: 20
  spacePollFrequencySeconds: 300
  arrayPollFrequencySeconds: 300
  filesystemPollFrequencySeconds: 20
  # set volumeMetricsEnabled to "false" to disable collection of Volume metrics
  volumeMetricsEnabled: "true"
  # set the the default max concurrent queries to PowerStore
  concurrentPowerstoreQueries: 10
  # set the default endpoint for PowerStore service
  endpoint: karavi-metrics-powerstore
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  zipkin:
    uri: ""
    serviceName: metrics-powerstore
    probability: 0.0

otelCollector:
  image: otel/opentelemetry-collector:0.42.0
  service:
    type: ClusterIP
  nginxProxy:
    image: nginxinc/nginx-unprivileged:1.20

cert-manager:
  startupapicheck:
    enabled: false
    serviceAccount:
      create: false
