karaviMetricsPowerflex:
  image: quay.io/dell/container-storage-modules/csm-metrics-powerflex:v1.13.1
  enabled: true
  collectorAddr: otel-collector:55680
  # comma separated list of provisioner names (ex: csi-vxflexos.dellemc.com)
  provisionerNames: csi-vxflexos.dellemc.com
  # set sdcMetricsEnabled to "false" to disable collection of SDC metrics
  sdcMetricsEnabled: "true"
  # set polling frequency to the PowerFlex array to get metrics data
  sdcPollFrequencySeconds: 10
  volumePollFrequencySeconds: 10
  # set volumeMetricsEnabled to "false" to disable collection of Volume metrics
  volumeMetricsEnabled: "true"
  # set storageClassPoolMetricsEnabled to "false" to disable collection of storage class/pool metrics
  storageClassPoolMetricsEnabled: "true"
  # set the polling frequency to configure the interval which storage class/pool metrics are gathered
  storageClassPoolPollFrequencySeconds: 10
  # set topologyMetricsEnabled to "false" to disable collection of topology metrics
  topologyMetricsEnabled: "true"
  # set polling frequency to get topology metrics
  topologyMetricsPollFrequencySeconds: 30
  # set the the default max concurrent queries to PowerFlex
  concurrentPowerflexQueries: 10
  # set the default endpoint for PowerFlex service
  endpoint: karavi-metrics-powerflex
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  authorization:
    enabled: false
    # sidecarProxy.image: the container image used for the csm-authorization-sidecar.
    # Default value: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.3.0
    sidecarProxy:
      image: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.3.0
    # proxyHost: hostname of the csm-authorization server
    # Default value: None
    proxyHost:
    # skipCertificateValidation: certificate validation of the csm-authorization server
    # Allowed Values:
    #   "true" - TLS certificate verification will be skipped
    #   "false" - TLS certificate will be verified
    # Default value: "true"
    skipCertificateValidation: true

karaviMetricsPowerstore:
  image: quay.io/dell/container-storage-modules/csm-metrics-powerstore:v1.13.0
  enabled: true
  collectorAddr: otel-collector:55680
  # comma separated list of provisioner names (ex: csi-powerstore.dellemc.com)
  provisionerNames: csi-powerstore.dellemc.com
  # set polling frequency to the PowerStore array to get metrics data
  volumePollFrequencySeconds: 20
  spacePollFrequencySeconds: 300
  arrayPollFrequencySeconds: 300
  filesystemPollFrequencySeconds: 20
  # set volumeMetricsEnabled to "false" to disable collection of Volume metrics
  volumeMetricsEnabled: "true"
  # set the the default max concurrent queries to PowerStore
  concurrentPowerstoreQueries: 10
  # set topologyMetricsEnabled to "false" to disable collection of topology metrics
  topologyMetricsEnabled: "true"
  # set polling frequency to get topology metrics
  topologyMetricsPollFrequencySeconds: 30
  # set the default endpoint for PowerStore service
  endpoint: karavi-metrics-powerstore
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  zipkin:
    uri: ""
    serviceName: metrics-powerstore
    probability: 0.0

karaviMetricsPowerscale:
  image: quay.io/dell/container-storage-modules/csm-metrics-powerscale:v1.10.0
  enabled: true
  collectorAddr: otel-collector:55680
  # comma separated list of provisioner names (ex: csi-isilon.dellemc.com)
  provisionerNames: csi-isilon.dellemc.com
  # set capacityMetricsEnabled to "false" to disable collection of capacity metrics
  capacityMetricsEnabled: "true"
  # set performanceMetricsEnabled to "false" to disable collection of performance metrics
  performanceMetricsEnabled: "true"
  # set topologyMetricsEnabled to "false" to disable collection of topology metrics
  topologyMetricsEnabled: "true"
  # set polling frequency to get cluster capacity metrics data
  clusterCapacityPollFrequencySeconds: 30
  # set polling frequency to get cluster performance data
  clusterPerformancePollFrequencySeconds: 20
  # set polling frequency to get quota capacity metrics data
  quotaCapacityPollFrequencySeconds: 30
  # set polling frequency to get topology metrics
  topologyMetricsPollFrequencySeconds: 30
  # set the default max concurrent queries to PowerScale
  concurrentPowerscaleQueries: 10
  # set the default endpoint for PowerScale service
  endpoint: karavi-metrics-powerscale
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  # isiClientOptions to access Powerscale OneFS API server
  isiClientOptions:
    # set isiSkipCertificateValidation to true/false to skip/verify OneFS API server's certificates
    # default isiSkipCertificateValidation: true to skip OneFS API server's certificates
    isiSkipCertificateValidation: true
    # set isiAuthType to 0/1 to enables session-based/basic Authentication
    # default isiAuthType: 0 to use session-based Authentication
    isiAuthType: 1
    # set isiLogVerbose to 0/1/2 decide High/Medium/Low content of the OneFS REST API message should be logged in debug level logs
    # default isiLogVerbose: 0 to log full content of the HTTP request and response
    isiLogVerbose: 0
  authorization:
    enabled: false
    # sidecarProxy.image: the container image used for the csm-authorization-sidecar.
    # Default value: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.3.0
    sidecarProxy:
      image: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.3.0
    # proxyHost: hostname of the csm-authorization server
    # Default value: None
    proxyHost:
    # skipCertificateValidation: certificate validation of the csm-authorization server
    # Allowed Values:
    #   "true" - TLS certificate verification will be skipped
    #   "false" - TLS certificate will be verified
    # Default value: "true"
    skipCertificateValidation: true

karaviMetricsPowermax:
  image: quay.io/dell/container-storage-modules/csm-metrics-powermax:v1.8.0
  enabled: true
  collectorAddr: otel-collector:55680
  # comma separated list of provisioner names (ex: csi-powermax.dellemc.com)
  provisionerNames: csi-powermax.dellemc.com
  # set capacityMetricsEnabled to "false" to disable collection of capacity metrics
  capacityMetricsEnabled: "true"
  # set performanceMetricsEnabled to "false" to disable collection of performance metrics
  performanceMetricsEnabled: "true"
  # set polling frequency to get capacity metrics data for volume, storagegroup, srp and array
  capacityPollFrequencySeconds: 20
  # set polling frequency to get performance metrics data for volume, storagegroup
  performancePollFrequencySeconds: 20
  # set the default max concurrent queries to PowerMax
  concurrentPowermaxQueries: 10
  # set topologyMetricsEnabled to "false" to disable collection of topology metrics
  topologyMetricsEnabled: "true"
  # set polling frequency to get topology metrics
  topologyMetricsPollFrequencySeconds: 30
  # set the default endpoint for PowerMax service
  endpoint: karavi-metrics-powermax
  # useSecret
  # Defines if a Secret should be used to provide Unisphere for PowerMax endpoints
  # and login credentials instead of the deprecated powermax-reverseproxy-config ConfigMap.
  # If set to true, the contents of the secret specified by defaultCredentialsSecret
  # will be used, in the new format, to specify Unisphere for PowerMax endpoints, array IDs,
  # and login credentials. If set to false, the deprecated ConfigMap will be automatically
  # created and used.
  # Default value: false
  useSecret: false
  # defaultCredentialsSecret
  # The name of the Kubernetes Secret containing the details of the PowerMax arrays,
  # their Unisphere endpoints and their login credentials if useSecret is set to true.
  # Default value: ""
  defaultCredentialsSecret: ""
  service:
    type: ClusterIP
  logLevel: INFO
  logFormat: text
  authorization:
    enabled: false
    # sidecarProxy.image: the container image used for the csm-authorization-sidecar.
    # Default value: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.3.0
    sidecarProxy:
      image: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.3.0
    # proxyHost: hostname of the csm-authorization server
    # Default value: None
    proxyHost:
    # skipCertificateValidation: certificate validation of the csm-authorization server
    # Allowed Values:
    #   "true" - TLS certificate verification will be skipped
    #   "false" - TLS certificate will be verified
    # Default value: "true"
    skipCertificateValidation: true

otelCollector:
  image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector:0.135.0
  service:
    type: ClusterIP
  nginxProxy:
    image: nginxinc/nginx-unprivileged:1.29
# Karavi-observability requires cert-manager. If cert-manager is already present in cluster, set enabled to false not to install it.
cert-manager:
  enabled: true
  startupapicheck:
    enabled: false
    serviceAccount:
      create: false
# Optionally, uncomment and specify the name of the pre-created namespace to install the module in it
# namespace:
