apiVersion: v2
name: csm-authorization
version: 2.4.0
appVersion: 2.4.0
type: application
description: |
  CSM for Authorization is part of the [Container Storage Modules](https://github.com/dell/csm) open source suite of Kubernetes
  storage enablers for Dell EMC storage products.  CSM for Authorization provides storage and Kubernetes administrators the ability
  to apply RBAC for Dell CSI Drivers.
dependencies:
  - name: redis
    version: 0.1.0
    condition: required
  - name: cert-manager
    version: 1.10.0
    repository: https://charts.jetstack.io
    condition: cert-manager.enabled
  - name: nginx-gateway-fabric
    version: 2.4.2
    repository: oci://ghcr.io/nginx/charts
    condition: nginx-gateway-fabric.enabled
