# If the karavi-topology cert and key are provided, deploy a CA Issuer using the cert and key
{{- if and (.Values.karaviTopology.certificateFile) (.Values.karaviTopology.privateKeyFile) }}
{{- $certificateFileContents := .Values.karaviTopology.certificateFile }}
{{- $privateKeyFileContents := .Values.karaviTopology.privateKeyFile }}
apiVersion: v1
data:
  tls.crt: {{ $certificateFileContents | b64enc }}
  tls.key: {{ $privateKeyFileContents | b64enc }}
kind: Secret
type: kubernetes.io/tls
metadata:
  name: karavi-topology-tls
  namespace: {{ .Release.Namespace }}

---

apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: karavi-topology-issuer
  namespace: {{ .Release.Namespace }}
spec:
  ca:
    secretName: karavi-topology-tls

---
{{- end }}

# If the otelCollector cert and key are provided, deploy a CA Issuer using the cert and key
{{- if and (.Values.otelCollector.certificateFile) (.Values.otelCollector.privateKeyFile) }}
{{- $certificateFileContents := .Values.otelCollector.certificateFile }}
{{- $privateKeyFileContents := .Values.otelCollector.privateKeyFile }}
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: otel-collector-tls
  namespace: {{ .Release.Namespace }}
data:
  tls.crt: {{ $certificateFileContents  | b64enc }}
  tls.key: {{ $privateKeyFileContents | b64enc }}

---

apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: otel-collector-issuer
  namespace: {{ .Release.Namespace }}
spec:
  ca:
    secretName: otel-collector-tls

---
{{- end }}

# If any set of cert+key combos are not provided, deploy a selfsigned-issuer
{{- if or (and (not .Values.karaviTopology.certificateFile) (not .Values.karaviTopology.privateKeyFile)) (and (not .Values.otelCollector.certificateFile) (not .Values.otelCollector.privateKeyFile)) }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: {{ .Release.Namespace }}
spec:
  selfSigned: {}

---
{{- end }}

# only create Certificate for self-signed
{{- if and (not .Values.otelCollector.certificateFile) (not .Values.otelCollector.privateKeyFile) }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: otel-collector
  namespace: {{ .Release.Namespace }}
spec:
  secretName: otel-collector-tls
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
    - dellemc
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    - server auth
    - client auth
  dnsNames:
  - otel-collector
  - otel-collector.karavi.svc.kubernetes.local
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
    group: cert-manager.io

---
{{- end }}

# only create Certificate for self-signed
{{- if and (not .Values.karaviTopology.certificateFile) (not .Values.karaviTopology.privateKeyFile) }} 
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: karavi-topology
  namespace: {{ .Release.Namespace }}
spec:
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
    - dellemc
  isCA: true
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    - server auth
    - client auth
  dnsNames:
  - karavi-topology
  - karavi-topology.karavi.svc.kubernetes.local
  secretName: karavi-topology-tls
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
    group: cert-manager.io
{{- end }}