{{- $powerflexUser := required "A valid PowerFlex user is required. Refer to the Helm Chart documentation." .Values.karaviMetricsPowerflex.powerflexUser }}
{{- $powerflexPassword := required "A valid PowerFlex password is required. Refer to the Helm Chart documentation." .Values.karaviMetricsPowerflex.powerflexPassword }}
{{- $powerflexEndpoint := required "A valid PowerFlex endpoint is required. Refer to the Helm Chart documentation." .Values.karaviMetricsPowerflex.powerflexEndpoint }}

apiVersion: v1
kind: Secret
metadata:
  name: powerflex-gateway-credentials
type: Opaque
data:
  username: {{ $powerflexUser }}
  password: {{ $powerflexPassword }}

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: karavi_metrics_powerflex
    app.kubernetes.io/instance: {{ .Release.Name }}
  name: karavi-metrics-powerflex
spec:
  type: NodePort
  ports:
  - name: karavi-metrics-powerflex
    port: 2222
    targetPort: 2222
  selector:
    app.kubernetes.io/name: karavi_metrics_powerflex
    app.kubernetes.io/instance: {{ .Release.Name }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: karavi-metrics-powerflex
  labels:
    app.kubernetes.io/name: karavi_metrics_powerflex
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: karavi_metrics_powerflex
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: karavi_metrics_powerflex
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccount: {{ .Release.Name }}-metrics-powerflex-controller
      containers:
      - name: karavi-metrics-powerflex
        image: {{ .Values.karaviMetricsPowerflex.image }}
        resources: {}
        env:
        - name: COLLECTOR_ADDR
          value: {{ .Values.karaviMetricsPowerflex.collectorAddr }}
        - name: POWERFLEX_ENDPOINT
          value: {{ $powerflexEndpoint }}
        - name: POWERFLEX_USER
          valueFrom:
            secretKeyRef:
              name: powerflex-gateway-credentials
              key: username
        - name: POWERFLEX_PASSWORD
          valueFrom:
            secretKeyRef:
              name: powerflex-gateway-credentials
              key: password
        - name: PROVISIONER_NAMES
          value: {{ .Values.karaviMetricsPowerflex.provisionerNames }}
        - name: POWERFLEX_SDC_METRICS_ENABLED
          value: "{{ .Values.karaviMetricsPowerflex.sdcMetricsEnabled }}"
        - name: POWERFLEX_SDC_IO_POLL_FREQUENCY
          value: "{{ .Values.karaviMetricsPowerflex.sdcPollFrequencySeconds }}"
        - name: POWERFLEX_VOLUME_IO_POLL_FREQUENCY
          value: "{{ .Values.karaviMetricsPowerflex.volumePollFrequencySeconds }}"
        - name: POWERFLEX_VOLUME_METRICS_ENABLED
          value: "{{ .Values.karaviMetricsPowerflex.volumeMetricsEnabled }}"
        - name: POWERFLEX_STORAGE_POOL_METRICS_ENABLED
          value: "{{ .Values.karaviMetricsPowerflex.storageClassPoolMetricsEnabled }}"
        - name: POWERFLEX_STORAGE_POOL_POLL_FREQUENCY
          value: "{{ .Values.karaviMetricsPowerflex.storageClassPoolPollFrequencySeconds }}"
        - name: POWERFLEX_MAX_CONCURRENT_QUERIES
          value: "{{ .Values.karaviMetricsPowerflex.concurrentPowerflexQueries }}"
        - name: POWERFLEX_METRICS_ENDPOINT
          value: "{{ .Values.karaviMetricsPowerflex.endpoint }}"
        - name: POWERFLEX_METRICS_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: TLS_ENABLED
          value: "true"
        volumeMounts:
        - name: tls-secret
          mountPath: /etc/ssl/certs
          readOnly: true
      volumes:
      - name: tls-secret
        secret:
          secretName: tls-secret
          items:
            - key: tls.crt
              path: cert.crt
      restartPolicy: Always
status: {}
