apiVersion: v1
data:
  otel-collector-config.yaml: |-
{{ (.Files.Get "otel-collector-config.yaml") | indent 4 }}
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: {{ include "custom.namespace" . }}

---

apiVersion: v1
data:
  nginx.conf: |-
{{ (.Files.Get "otel-collector-nginx.conf") | indent 4 }}
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ include "custom.namespace" . }}

---

apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: {{ include "custom.namespace" . }}
  labels:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.otelCollector.service.type }}
  ports:
    - port: 55680
      targetPort: 55680
      name: receiver
    - port: 8443
      targetPort: 8443
      name: exporter-https
  selector:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/instance: {{ .Release.Name }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: {{ include "custom.namespace" . }}
  labels:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:  
  selector:
    matchLabels:
      app.kubernetes.io/name: otel-collector
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: 1
  strategy: {}
  template:    
    metadata:
      labels:
        app.kubernetes.io/name: otel-collector
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      volumes:
      - name: tls-secret
        secret:
          secretName: otel-collector-tls
          items:
            - key: tls.crt
              path: tls.crt
            - key: tls.key
              path: tls.key
      - name: nginx-config
        configMap:
          name: nginx-config
      - name: otel-collector-config
        configMap:
          name: otel-collector-config
      containers:
      - name: nginx-proxy
        image: {{ .Values.otelCollector.nginxProxy.image }}
        volumeMounts:
          - name: tls-secret
            mountPath: /etc/ssl/certs
          - name: nginx-config
            mountPath: /etc/nginx/nginx.conf
            subPath: nginx.conf
      - name: otel-collector
        image: {{ .Values.otelCollector.image }}
        args:
          - --config=/etc/otel-collector-config.yaml
        resources: {}
        volumeMounts:
        - name: otel-collector-config
          mountPath: /etc/otel-collector-config.yaml
          subPath: otel-collector-config.yaml
        - name: tls-secret
          mountPath: /etc/ssl/certs
      restartPolicy: Always
status: {}
