# This Github action will create a Github release for updated helm-charts
name: charts-release-action

# Triggers the action on push/merge to the main branch
on:
  push:
    branches:
      - main

jobs:
  # This job will perform a helm release of all the csm charts that have been updated
  release-csm:
    runs-on: ubuntu-latest
    steps:
      # Check out code
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # Run the helm chart release command
      - name: Run csm chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: charts
          skip_existing: true
