# This action checks the Helm Chart changes for linting and version updates
name: helm-validations

# Check runs on PRs created to merge to main branch
on:
  pull_request:
    branches:
      - main
      - karavi-observability-release
      - csm-authorization-release

jobs:
  # This job will check to see if any .yaml file is modified
  check_files:
    runs-on: ubuntu-latest
    outputs:
     run_tests: ${{ steps.diff.outputs.run_tests }}
    steps:
     - uses: actions/checkout@v2
     - name: Check for files changed
       id: diff
       run: |
            URL="https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/files"
            FILES=$(curl -s -X GET -G $URL | jq -r '.[] | .filename')
            echo $FILES | grep \.yaml && echo '::set-output name=run_tests::true' || true
 
  # This job will run helm lint and version increment check on updated charts
  lint:
    runs-on: ubuntu-latest
    # Only run job when .yaml file is changed
    needs: check_files
    if: needs.check_files.outputs.run_tests == 'true'
    steps:
      # Check out the repo
      - name: Checkout
        uses: actions/checkout@v2
        with: 
         fetch-depth: "0"
         
      # Lint and version increment checks on updated charts   
      - name: Run lint/version increment checks
        id: versionIncrement
        uses: helm/chart-testing-action@v1.0.0
        with:
          command: lint
          config: lintConfig.yaml
 
 # This job checks that dependency versions have been updated on the karavi-observability chart
  dependency:
    runs-on: ubuntu-latest
    # Only run job when .yaml file is changed
    needs: check_files
    if: needs.check_files.outputs.run_tests == 'true'
    steps:
      # Check out the repo
      - name: Checkout
        uses: actions/checkout@v2
        with: 
         fetch-depth: "0"
         
      # Run a check on karavi-observability chart for updated dependency versions
      - name: Run dependency version checks
        id: lint
        uses: helm/chart-testing-action@v1.0.0
        with:
          command: lint
          config: dependencyConfig.yaml
