# This action checks the Helm Chart changes for linting
name: helm-validations

# Check runs on PRs created to merge to main branch
on:
  pull_request:
    branches:
      - main
      - release-v*

jobs:
  # This job will run helm lint on updated charts
  lint:
    name: CSM Chart Linter
    runs-on: ubuntu-latest
    steps:
      # Check out the repo
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: latest

      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.10'

      - name: Install chart-testing-action
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing list-changed
        id: modified-charts
        run: |
          modified=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$modified" ]]; then
            echo "modified=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing linter
        if: steps.modified-charts.outputs.modified == 'true'
        run: ct lint --config ct.yaml
