# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# This action checks the Helm Chart changes for linting
name: Validate Helm Charts

# Check runs on PRs created to merge to main branch
on:
  pull_request:
    branches: ["**"]

jobs:
  # This job will run helm lint on updated charts
  lint:
    name: CSM Chart Linter
    runs-on: ubuntu-latest
    steps:
      # Check out the repo
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: "0"

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: latest

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install chart-testing-action
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing list-changed
        id: modified-charts
        run: |
          modified=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$modified" ]]; then
            echo "modified=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing linter
        if: steps.modified-charts.outputs.modified == 'true'
        run: ct lint --config ct.yaml
